<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{SCRIPT_FILENAME} !-d
  RewriteCond %{SCRIPT_FILENAME} !-f

  #View
  RewriteRule ^view/([^/]+)/?$ view/index.php?hash=$1 [NC,L]

  #Create
  RewriteRule ^create/([^/\.]+)/?$ create/index.php?hash=$1 [NC,L]
  
  #PAC
  RewriteRule ^pac/([^/]+)/?$ pac/index.php?hash=$1 [NC,L]

</IfModule>
